.spotlight {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  height: 169%;
  width: 138%;
  opacity: 0;
  animation: spotlight 2.8s ease forwards;
}

@media (min-width: 1024px) {
  .spotlight {
    width: 84%;
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translateY(-24px) scale(0.9);
  }
  55% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
